<div class="wrapper">
    <h1>List suppliers</h1>
    <div class="list-suppliers">
        <div class="row" >
            <div class="column" *ngFor="let item of listSuppliers; ">
                <div class="card">
                    <img src="{{item.logo}}" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h4><b>{{item.name}}</b></h4>
                      <p>code: {{item.code}}</p>
                    </div>
                  </div>
            </div>        
        </div>
        <div class="pagination" >
            <button class="border" (click)=loadSupplierPrev()>&laquo;</button>
            <div class="border">
               <span>Go to </span> <input #index type="text" [(value)]="pageIndex" id="" (keyup)="loadSuppliersOfPage(index.value)"><span> /{{totalPage}}</span>
            </div>
            <button class="border" (click)=loadSupplierNext()>&raquo;</button>
          </div>
    </div>
    
</div>